:root{
    --color-light-50: #f8fafc;
    --color-dark-100: #312d37;
    --color-dark-900: #0000;

    --color-purple-50: #7c3acd;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;

    --color-gradient: linear-gradient(90deg,var(--color-purple-50),var(--color-purple-100),var(--color-purple-200));
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0,0,0.336) ;
    height: fit-content;
}
.cab{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.cab h1{
    font-size: 50px;
    position: relative;
}
.cab h1::before{
    position: absolute;
    content: '';
    width: 60px;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}
#icon_mode{
    cursor: pointer;
    font-size: 20px;
}
#local_midea{
    display: flex;
    justify-content: space-around;
}
#local_midea img{
    width: 35px;
}
#local_midea img:hover{
    transform: scale(1.2);
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label{
    font-size: 14px;
    color: var(--color-dark-100);
}
.input-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}
.input-icons i{
   font-size: 25px;
}

.input-icons input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
}
.input-icons input:focus{
    outline: none;
}
#senha_esquecida a{
    text-decoration: none;
    font-size: 15px;
    color: var(--color-dark-100);
}
#senha_esquecida a:hover {
    color: var(--color-purple-200);
}
#login{
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
}
#login:hover{
    transform: scale(1.05);
}
.dark#login_form{
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
}
.dark#login_form .input-icons input,
.dark#login_form.input-icons i{
    color: var(--color-light-50);
}
